
<!-- 
<mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    My Application
    <span fxFlex></span>
    <button mat-button [matMenuTriggerFor]="menuNotificaciones">
        <i class="material-icons">account_circle</i>
    </button>
    <mat-menu #menuNotificaciones="matMenu">
        <button mat-menu-item >
            <span>Configuración</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item >
            <i class="far fa-envelope"></i>
            <span>Salir</span>
        </button>
    </mat-menu>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" [opened]="false" class="side-nav-cominvi">
        <mat-nav-list>
            <h2>Cominvi</h2>
            <h2 matSubheader>APP</h2>
            <a mat-list-item href="#">Formulario</a>
            <a mat-list-item href="#">Catalogo</a>
            <a mat-list-item href="#">Indicadores</a>
            <mat-divider></mat-divider>
            <h2 matSubheader>Config</h2>
            <a mat-list-item href="#">Indicadores</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="page-wrapper">
        <div class="page-content" >
            <app-catalogo></app-catalogo>
        </div>
    </mat-sidenav-content>
    
</mat-sidenav-container>

-->