<!-- 
<mat-card>
    <mat-card-header>
        <mat-card-title>Formulario</mat-card-title>
        <mat-card-subtitle>Captura de información</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="form-container">
            <mat-form-field>
              <input matInput placeholder="Input">
            </mat-form-field>
          
            <mat-form-field>
              <textarea matInput placeholder="Textarea"></textarea>
            </mat-form-field>
          
            <mat-form-field>
              <mat-select placeholder="Select">
                <mat-option value="option">Option</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
    </mat-card-content>
    <mat-card-actions>
        <span fxFlex></span>
       <button mat-raised-button>Guardar</button>
    </mat-card-actions>
</mat-card>
-->